html{
  font-family: Helvetica;
  text-align: center;
  align-content: center;
}

a{
    font-size: 18px;
    color: white;
}


h1{
  font-family: Helvetica;
  text-align: center;
  font-size: 70px;
  font-weight: bold;
}

h2{
  font-family: Helvetica;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}

h3{
  font-family: Helvetica;
  text-align: center;
  font-size: 23px;
  font-weight: bold;
}

h4{
  font-family: Helvetica;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
}

#navoptions{
  font-size: 18px;
}


#navpanel{
  color: white;
  background-image: url(../images/the-flatiron-building.png);
}
#designed{
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url(../images/the-flatiron-building.png);
}
